@model WeddingPlanner.Models.User
<form class="form-group mt-5 d-flex align-items-center flex-column justify-content-center" asp-action="Register" asp-controller="Home" method="post">
    <span class="text-danger mt-3" asp-validation-for="FirstName"></span>
    <input type="text" class="form-control col-8 mt-3" asp-for="FirstName" placeholder="First Name">

    <span class="text-danger mt-3" asp-validation-for="LastName"></span>
    <input type="text" class="form-control col-8 mt-3" asp-for="LastName" placeholder="Last Name">

    <span class="text-danger mt-3" asp-validation-for="Email"></span>
    <input type="text" class="form-control col-8 mt-3" asp-for="Email" placeholder="Email">

    <span class="text-danger mt-3" asp-validation-for="Password"></span>
    <input type="password" class="form-control col-8 mt-3" asp-for="Password" placeholder="Password">

    <span class="text-danger mt-3" asp-validation-for="Confirm"></span>
    <input type="password" class="form-control col-8 mt-3" asp-for="Confirm" placeholder="Confirm Password">

    <button type="submit" class="btn btn-light text-info mt-5">Sign up</button>
</form>